@import '_parts/_var';
@import '_parts/_mixins';
@import '_parts/_forms';

*,*:before, *:after {
    box-sizing: border-box;
}

html { width: 100%; height: 100%; margin: 0; padding: 0;}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.panel-container {

    &.panel-flex {
        @include flexbox;
        @include flex-align-items(center);
        @include flex-justify-content(center);
        @include flex-wrap(wrap);
    }

    &.panel-search {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../_img/bg-3.jpg');
        background-position: center center;
        background-size: cover;
    }

    height: 100%;
    width: 100%;

    span.tagline {
        font-size: 0.8em;
        text-align: center;
        padding: 0.5em;
        color: $primaryWhite;
        display: block;
    }

    div.message {
        width: 100%;
        padding: .5em;
        text-align: center;
        font-family: $fontSansSerif;
    }
}
