@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu+Condensed|Aladin';
form {
  width: 100%; }
  form input, form select, form textarea {
    width: 90%;
    padding: 0.5em;
    margin: 0.5em 5%;
    float: left;
    border: 0; }
  form label {
    float: left;
    padding: 1.2em 1.3em 0;
    font-size: 0.8em;
    color: #FEFEFE; }
  form button {
    width: 95%;
    padding: 1em;
    color: #FEFEFE;
    background: #EB4549;
    border: 0;
    margin: 1em auto; }
  form a {
    color: #1A1919;
    text-decoration: none;
    font-size: 0.8em;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 45%;
    border: 1px solid #EB4549;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; }
    form a:hover {
      color: #FEFEFE;
      background: #EB4549; }

.form-container {
  width: 100%;
  height: 100%;
  background: rgba(235, 69, 73, 0.9);
  color: #1A1919;
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; }
  @media only screen and (min-width: 480px) {
    .form-container {
      display: block;
      width: 450px;
      height: auto;
      border-radius: 5px; } }
  .form-container h1 {
    color: #FEFEFE;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: .5em 0 0;
    font-family: "Aladin", cursive; }
  .form-container span.message {
    color: #FEFEFE;
    text-align: center;
    padding: 1em 0 0;
    display: block;
    font-size: 0.8em;
    font-family: "Ubuntu Condensed", sans-serif; }
  .form-container .submit-container {
    background: #FEFEFE;
    width: 100%;
    margin-top: 1em;
    float: left;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row; }
    @media only screen and (min-width: 480px) {
      .form-container .submit-container {
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; } }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.panel-container {
  height: 100%;
  width: 100%; }
  .panel-container.panel-flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap; }
  .panel-container.panel-search {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../_img/bg-3.jpg");
    background-position: center center;
    background-size: cover; }
  .panel-container span.tagline {
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em;
    color: #FEFEFE;
    display: block; }
  .panel-container div.message {
    width: 100%;
    padding: .5em;
    text-align: center;
    font-family: "Ubuntu Condensed", sans-serif; }
