form {
    width: 100%;

    input, select, textarea {
        width: 90%;
        padding: 0.5em;
        margin: 0.5em 5%;
        float: left;
        border: 0;
    }

    label {
        float: left;
        padding: 1.2em 1.3em 0;
        font-size: 0.8em;
        color: $primaryWhite;
    }

    button {
        width: 90%;
        margin: 1em 5% .5em;
        padding: 1em;
        color: $primaryWhite;
        background: $primaryRed;
        border: 0;
    }

    a {
        color: $primaryGrey;
        text-decoration: none;
        font-size: 0.8em;
        padding: .5em .5em 1em;
        text-align: center;
        display: block;
    }
}

.form-container {
    width: 100%;
    height: 100%;
    background: $primaryRed;
    color: $primaryGrey;
    position: relative;

    @include flexbox;
    @include flex-align-items(center);
    @include flex-justify-content(center);
    @include flex-direction(column);

    @include bp480 {
        display: block;
    }

    h1 {
        font-size: 1.8em;
        color: $primaryWhite;
        line-height: 1.5;
        text-align: center;
        margin: 0;
        padding: .5em 0 0;
    }

    span.message {
        color: $primaryWhite;
        text-align: center;
        padding: 1em 0 0;
        display: block;
        font-size: 0.8em;
        font-family: $fontSansSerif;
    }

    @include bp480 {
        width: 350px;
        height: auto;
        border-radius: 5px;
        background: $primaryRed;
    }

    .submit-container {
        background: $primaryWhite;
        width: 100%;
        margin-top: 1em;
        float: left;

        @include bp480 {
            position: relative;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
